<a href="https://colab.research.google.com/github/SARA3SAEED/more-practice/blob/main/DA_Mu_Lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python Programming, Gowrishankar & Veena (2018)

## Chapter(4) Programming Exercises - Functions

### 9. Write a program using functions to perform the arithmetic operations.

In [ ]:
# Define functions for arithmetic operations
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b != 0:
        return a / b
    else:
        return "Error! Division by zero."

# Main program to take user input and call the appropriate function
def main():
    # Get user input
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    # Display available operations
    print("Select an operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    # Get user's choice
    choice = input("Enter your choice (1/2/3/4): ")

    # Perform the chosen operation
    if choice == '1':
        print(f"Result: {add(num1, num2)}")
    elif choice == '2':
        print(f"Result: {subtract(num1, num2)}")
    elif choice == '3':
        print(f"Result: {multiply(num1, num2)}")
    elif choice == '4':
        print(f"Result: {divide(num1, num2)}")
    else:
        print("Invalid choice! Please select a valid operation.")

# Call the main function to run the program
main()

Enter the first number: 2
Enter the second number: 4
Select an operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter your choice (1/2/3/4): 1
Result: 6.0

### 10. Write a program to find the largest of three numbers using functions.

In [ ]:
def largest(n1,n2,n3):
  if (n1 > n2 and n1 > n3):
    print("the largest :", n1)
  elif (n2 > n3 and n2 > n1):
    print("the largest is :", n2)
  elif (n3 > n1 and n3 > n2):
    print("the largest is:", n3)

n1=int(input("enter the 1 number"))
n2=int(input("enter the 2 number"))
n3=int(input("enter the 3 number"))

largest(n1,n2,n3)

enter the 1 number2
enter the 2 number3
enter the 3 number4
the largest is: 4

### 11. Write a Python program using functions to find the value of nPr and nCr

In [2]:
import math

# Function to calculate nPr
def nPr(n, r):
    return math.factorial(n) // math.factorial(n - r)

# Function to calculate nCr
def nCr(n, r):
    return math.factorial(n) // (math.factorial(r) * math.factorial(n - r))


n = int(input("Enter the value of n: "))
r = int(input("Enter the value of r: "))

print(f"nPr({n}, {r}) = {nPr(n, r)}")
print(f"nCr({n}, {r}) = {nCr(n, r)}")

Enter the value of n: 3
Enter the value of r: 2
nPr(3, 2) = 6
nCr(3, 2) = 3

### 12. Write a Python function named area that finds the area of a pentagon.

In [1]:
def area(l,w):
    return l*w

l=int(input("enter the length"))
w=int(input("enter the width"))

area(l,w)

enter the length100
enter the width200

20000

### 13. Write a program using functions to display Pascal’s triangle.

In [9]:
def print_pascal_triangle(n):
    for i in range(n):
      for j in range(i+1):
        print(j, end=" ")
      print()

n = int(input("Enter the number of rows: "))
print_pascal_triangle(n)

Enter the number of rows: 4
0
0 1
0 1 2
0 1 2 3

### 14. Write a program using functions to print harmonic progression series and its sum till N terms.

In [11]:
def sum_harmonic_progression(a, d, N):
    total_sum = 0
    for i in range(N):
        term = 1 / (a + i * d)
        total_sum += term
        print(f"{term:.4f}", end="\n ")
    print()
    return total_sum

a = float(input("Enter the first term of the AP (corresponding to the HP): "))
d = float(input("Enter the common difference of the AP: "))
N = int(input("Enter the number of terms (N): "))

hp_sum = sum_harmonic_progression(a, d, N)
print(f"Sum of the Harmonic Progression till {N} terms: {hp_sum:.4f}")

Enter the first term of the AP (corresponding to the HP): 3
Enter the common difference of the AP: 2
Enter the number of terms (N): 2
0.3333
 0.2000

Sum of the Harmonic Progression till 2 terms: 0.5333

### 15. Write a program using functions to do the following tasks:
- a. Convert milliseconds to hours, minutes and seconds.
- b. Compute a sales commission, given the sales amount and the commission rate.
- c. Convert Celsius to Fahrenheit.
- d. Compute the monthly payment, given the loan amount, number of years and the annual interest rate.

In [16]:
print("1. Convert milliseconds to hours, minutes and seconds.")
print("2. Compute a sales commission, given the sales amount and the commission rate.")
print("3. Convert Celsius to Fahrenheit.")
print("4. Compute the monthly payment, given the loan amount, number of years and the annual interest rate.")
choice = int(input("Enter your choice: "))

def task(choice):
  if choice == 1:
    milliseconds = int(input("Enter the milliseconds: "))
    seconds = milliseconds // 1000
    minutes = seconds // 60
    hours = minutes // 60
    # seconds %= 60
    # minutes %= 6
    print(f"{hours} hours, {minutes} minutes, {seconds} seconds")

  elif choice == 2:
    sales_amount = float(input("Enter the sales amount: "))
    commission_rate = float(input("Enter the commission rate: "))
    commission = sales_amount * commission_rate / 100
    print(f"Commission: {commission}")

  elif choice == 3:
    celsius = float(input("Enter the temperature in Celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    print(f"Temperature in Fahrenheit: {fahrenheit}")

  elif choice == 4:
    loan_amount = float(input("Enter the loan amount: "))
    years = float(input("Enter the number of years: "))
    annual_interest_rate = float(input("Enter the annual interest rate: "))
    monthly_interest_rate = annual_interest_rate / 12 / 100
    months = years * 12
    if monthly_interest_rate == 0:
        monthly_payment = loan_amount / months
    else:
        monthly_payment = loan_amount * monthly_interest_rate / (1 - (1 + monthly_interest_rate) ** -months)
    print(f"Monthly Payment: {monthly_payment:.2f}")

task(choice)

1. Convert milliseconds to hours, minutes and seconds.
2. Compute a sales commission, given the sales amount and the commission rate.
3. Convert Celsius to Fahrenheit.
4. Compute the monthly payment, given the loan amount, number of years and the annual interest rate.
Enter your choice: 4
Enter the loan amount: 40000
Enter the number of years: 4
Enter the annual interest rate: .02
Monthly Payment: 833.67

==========

## Chapter(5) Programming Exercises - Strings

### 11. Write a function that takes a string as an argument and displays the letters backward, one per line.

In [18]:
def reverse_string(input_string):
    reversed_string = ""
    for i in range(len(input_string) - 1, -1, -1):
        reversed_string += input_string[i] + " "
    return reversed_string

input_string = input("Enter a string: ")
reversed_output = reverse_string(input_string)
print(reversed_output)

Enter a string: sara
a r a s

In [21]:
def display_backward(string):
    for char in reversed(string):
        print(char , end= ' ')

user_input = input("Enter a string: ")
display_backward(user_input)

Enter a string: sara
a r a s

### 12. Write a Python program to access the last character of the string with the help of len() function.

In [22]:
def last_char(string):
    return string[len(string)-1]

user_input = input("Enter a string: ")
last_char(user_input)

Enter a string: sara

'a'

### 13. Ask the user for a string, and then for a number. Print out that string, that many times. (For example, if the string is Python and the number is 3 you should print out PythonPythonPython.)

In [24]:
def print_string(string, number):
    for i in range(number):
        print(string, end='')

user_input = input("Enter a string: ")
number = int(input("Enter a number: "))
print_string(user_input, number)

Enter a string: sara
Enter a number: 3
sarasarasara

### 14. Write a program that reads the date in the format (dd/mm/yyyy) and replaces the ‘/’ with a ‘-’ and displays the date in (dd-mm-yyyy) format.

In [25]:
date = input("Enter a date in the format (dd/mm/yyyy): ")
new_date = date.replace("/", "-")
print(new_date)

Enter a date in the format (dd/mm/yyyy): 05/05/1992
05-05-1992

### 15. Write a function that finds the number of occurrences of a specified character in a string.

In [26]:
char = input("Enter a character: ")
string = input("Enter a string: ")

def count_char(char, string):
    count = 0
    for c in string:
        if c == char:
            count += 1
    return count

count_char(char, string)

Enter a character: s
Enter a string: sara

1

### 16. Write a program that parses a binary number to a decimal integer. For example, 11001 (1 * $2^{4}$ + 1 * $2^{3}$ + 0 * $2^{2}$ + 0 * $2^{1}$ + 1 * $2^{0}$).

In [29]:
binary = input("Enter a binary number: ")
decimal = 0
for i in range(len(binary)):
    decimal += int(binary[i]) * (2 ** (len(binary) - i - 1))
print(decimal)

Enter a binary number: 1101
13

### 18. Write a program that accepts a string from the user and display the same string after removing vowels from it.

In [30]:
def remove_vowels(string):
    vowels = "aeiouAEIOU"
    new_string = ""
    for char in string:
        if char not in vowels:
            new_string += char
    return new_string

user_input = input("Enter a string: ")
result = remove_vowels(user_input)
print(result)

Enter a string: sara
sr

### 19. Write a function to insert a string in the middle of the string.

In [31]:
def insert_string(string, new_string):
    middle = len(string) // 2
    return string[:middle] + new_string + string[middle:]


print(insert_string("Hello", "World"))

HeWorldllo

### 20. Write a program to sort a string lexicographically

In [32]:
def sort_string(string):
    return ''.join(sorted(string))

user_input = input("Enter a string: ")
sorted_string = sort_string(user_input)
print(sorted_string)

Enter a string: sara
aars

### 21. Write a program to replace a string with another string without using built-in methods.

In [38]:
def replace_string(string, old_string, new_string):
    result = ""
    index = 0
    while index < len(string):
        if string[index:index+len(old_string)] == old_string:
            result += new_string
            index += len(old_string)
        else:
            result += string[index]
            index += 1
    return result

user_input = input("Enter a string: ")
old_string = input("Enter the string to replace: ")
new_string = input("Enter the new string: ")
result = replace_string(user_input, old_string, new_string)
print(result)

Enter a string: hello sara saeed
Enter the string to replace: sara
Enter the new string: maram
hello maram saeed

In [37]:
def replace_string(original, target, replacement):
    result = ""
    i = 0
    while i < len(original):

        if original[i:i+len(target)] == target:
            result += replacement
            i += len(target)
        else:
            result += original[i]
            i += 1
    return result

original_string = input("Enter the original string: ")
target_string = input("Enter the string to be replaced: ")
replacement_string = input("Enter the replacement string: ")

new_string = replace_string(original_string, target_string, replacement_string)
print("Modified string:", new_string)

Enter the original string: hello sara saeed
Enter the string to be replaced: sara
Enter the replacement string: maram
Modified string: hello maram saeed

### 22. Write a program to concatenate two strings into another string without using the + operator.

In [40]:
def concatenate_strings(str1, str2):
    list1 = list(str1)
    list2 = list(str2)

    for char in list2:
        list1.append(char)

    result = ''.join(list1)

    return result

x = 'hello'
y = 'world'

concatenated_string = concatenate_strings(x, y)
print("Concatenated string:", concatenated_string)

Concatenated string: helloworld

### 23. Write a program to strip a set of characters from a string.

In [43]:
def strip_characters(string, characters):
    for char in characters:
        string = string.replace(char, '')
    return string

user_input = input("Enter a string: ")
characters_to_strip = input("Enter the characters to strip: ")
result = strip_characters(user_input, characters_to_strip)
print(result)

Enter a string: sarah
Enter the characters to strip: a
srh

### 24. Write a program to extract the first n characters of a string.

In [44]:
def extract_first_n_characters(string, n):
    return string[:n]

user_input = input("Enter a string: ")
n = int(input("Enter the value of n: "))
result = extract_first_n_characters(user_input, n)
print(result)

Enter a string: sarah
Enter the value of n: 3
sar

==========

## Chapter(6) Programming Exercises - Lists

### 7. Write a program that creates a list of 10 random integers. Then create two lists by name odd_list and even_list that have all odd and even values of the list respectively.

In [59]:
list1 = [1,2,3,4,5,6,7,8,9,10]
odd_list = []
even_list = []


for i in list1:
  if i % 2 == 0:
    even_list.append(i)
  else:
    odd_list.append(i)

print(even_list)
print(odd_list)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

### 8. Write a program to sort the elements in ascending order using insertion sort.

In [60]:
list1.reverse()
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 9. Write a Python program to use binary search to find the key element in the list.

In [69]:
def binary_search(arr, target):
    low = 0
    high = len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            low = mid + 1
        else:
            high = mid - 1  # Fix: Update high correctly

    return -1  # Target not found

# Example usage
list1 = [1, 3, 5, 7, 9, 11]
target = 5
result = binary_search(list1, target)

if result != -1:
    print(f"Element {target} found at index {result}.")
else:
    print(f"Element {target} not found in the list.")

Element 5 found at index 2.

### 11. Write a program to sort the elements in ascending order using selection

1.   List item
2.   List item

sort.

### 12. Write a program that prints the maximum value of the second half of the list.

In [71]:
list3= [1,2,3,50,5,6,7,8,9,10]
max(list3[5:])

10

### 13. Write a program that creates a list of numbers 1–100 that are either divisible by 5 or 6.

In [72]:
list4 = [i for i in range(1,101) if i % 5 == 0 or i % 6 == 0]
list4

[5,
 6,
 10,
 12,
 15,
 18,
 20,
 24,
 25,
 30,
 35,
 36,
 40,
 42,
 45,
 48,
 50,
 54,
 55,
 60,
 65,
 66,
 70,
 72,
 75,
 78,
 80,
 84,
 85,
 90,
 95,
 96,
 100]

### 14. Write a function that prompts the user to enter five numbers, then invoke a function to find the GCD of these numbers.

In [75]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

def find_gcd_of_list(numbers):
    if not numbers:
        return None

    result = numbers[0]
    for num in numbers[1:]:
        result = gcd(result, num)
    return result

numbers = [int(input("Enter a number: ")) for _ in range(5)]
result = find_gcd_of_list(numbers)
print(f"The GCD of the entered numbers is: {result}")

Enter a number: 48
Enter a number: 72
Enter a number: 108
Enter a number: 60
Enter a number: 24
The GCD of the entered numbers is: 12

==========

## Chapter(7) Programming Exercises - Dictionaries

### 5. Write a function that prompts the user for the average temperature for each day of the week and returns a dictionary containing the entered information.

In [76]:
def get_average_temperatures():
    temperatures = {}
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    for day in days:
        temperature = float(input(f"Enter the average temperature for {day}: "))
        temperatures[day] = temperature
    return temperatures

average_temperatures = get_average_temperatures()
print(average_temperatures)

Enter the average temperature for Monday: 2
Enter the average temperature for Tuesday: 3
Enter the average temperature for Wednesday: 4
Enter the average temperature for Thursday: 2
Enter the average temperature for Friday: 3
Enter the average temperature for Saturday: 4
Enter the average temperature for Sunday: 2
{'Monday': 2.0, 'Tuesday': 3.0, 'Wednesday': 4.0, 'Thursday': 2.0, 'Friday': 3.0, 'Saturday': 4.0, 'Sunday': 2.0}

### 6. Write a Python program to input information about a few employees as given below: a. Name b. Employee Id c. Salary. The program should output the employee ID and salary of a specified employee, given his name.

In [77]:
emp= {
    "Name":['Ali', 'Ahmed'],
    "Employee Id": [1,2],
    "Salary": [1000, 2000]
}

def info_employee(name):
    for i in range(len(emp["Name"])):
        if emp["Name"][i] == name:
            return emp["Employee Id"][i], emp["Salary"][i]


name = input("Enter the name of the employee: ")
employee_id, salary = info_employee(name)
print(f"Employee ID: {employee_id}, Salary: {salary}")

Enter the name of the employee: Ali
Employee ID: 1, Salary: 1000

### 7. Write a function named addfruit, which is passed with a set of fruit names and their prices and returns a dictionary containing the entered information and raises a ValueError exception if the fruit is already present.

In [95]:
def addfruit(fruit_data, new_fruits):
    for fruit, price in new_fruits.items():
        if fruit in fruit_data:
            raise ValueError(f"Fruit '{fruit}' already present in the dictionary.")
        else:
            fruit_data[fruit] = price

    return fruit_data

try:
    existing_fruits = {
        'apple': 1.0,
        'banana': 0.5
    }

    new_fruits = {
        'orange': 0.9,
        'grape': 2.0,
        'banana': 0.6
    }

    existing_fruits = addfruit(existing_fruits, new_fruits)
    print("Updated fruit dictionary:", existing_fruits)

except ValueError as e:
    print(e)

Fruit 'banana' already present in the dictionary.

In [96]:
existing_fruits

{'apple': 1.0, 'banana': 0.5, 'orange': 0.9, 'grape': 2.0}

### 8. Write a function to add the air quality index as the value and the date as the key; create the dictionary for the entered information

In [99]:

def add_air_quality_record(aqi_data, date, aqi_value):
    aqi_data[date] = aqi_value
    return aqi_data


aqi_records = {
        '2024-09-01': 150,
        '2024-09-02': 120
    }

new_date = input("Enter the date (YYYY-MM-DD): ")
new_aqi = float(input("Enter the AQI value: "))

updated_records = add_air_quality_record(aqi_records, new_date, new_aqi)
print("Updated AQI records:", updated_records)

Enter the date (YYYY-MM-DD): 22-22-2222
Enter the AQI value: 2
Updated AQI records: {'2024-09-01': 150, '2024-09-02': 120, '22-22-2222': 2.0}

### 9. Create a dictionary that contains usernames as the key and passwords as the associated values. Make up the data for five dictionary entries and demonstrate the use of clear and fromkeys() methods.

In [105]:
dict1 = {
    "username1": "password1",
    "username2": "password2",
    "username3": "password3",
    "username4": "password4",
    "username5": "password5"
}

dict1

{'username1': 'password1',
 'username2': 'password2',
 'username3': 'password3',
 'username4': 'password4',
 'username5': 'password5'}

In [104]:
dict1.clear()
dict1

{}

In [102]:
dict2 = dict.fromkeys(["key1", "key2", "key3"], "default_value")
dict2

{'key1': 'default_value', 'key2': 'default_value', 'key3': 'default_value'}

### 10. Write Pythonic code to create a dictionary that accepts a country name as a key and its capital city as the value. Display the details in sorted order.

In [106]:
dict3 = {
    "country7": "capital7",
    "country2": "capital2",
    "country3": "capital3",
    "country4": "capital4",
    "country5": "capital5"
}

sorted_dict = dict(sorted(dict3.items()))
sorted_dict

{'country2': 'capital2',
 'country3': 'capital3',
 'country4': 'capital4',
 'country5': 'capital5',
 'country7': 'capital7'}

### 11. Write a program that has the dictionary of your friends’ names as keys and phone numbers as its values. Print the dictionary in a sorted order. Prompt the user to enter the name and check if it is present in the dictionary. If the name is not present, then enter the details in the dictionary.

In [107]:
dict4 = {
    "name1": "phone1",
    "name2": "phone2",
    "name3": "phone3",
    "name4": "phone4",
    "name5": "phone5"
}

print(dict(sorted(dict4.items())))

name = input("Enter the name: ")
if name in dict4:
    print(f"The phone number of {name} is {dict4[name]}.")
else:
    phone = input("Enter the phone number: ")
    dict4[name] = phone

{'name1': 'phone1', 'name2': 'phone2', 'name3': 'phone3', 'name4': 'phone4', 'name5': 'phone5'}
Enter the name: name1
The phone number of name1 is phone1.

### 12. Write a program to create a dictionary containing the author name as the keys and ISBN number as the value. Make up the data for five dictionary entries and demonstrate the use of clear() and fromkeys() methods.

In [110]:
dict5 = {
    "author1": "ISBN1",
    "author2": "ISBN2",
    "author3": "ISBN3",
    "author4": "ISBN4",
    "author5": "ISBN5"
}

dict5.clear()
dict5

dict5= dict5.fromkeys(["key1", "key2", "key3"], "default_value")
dict5

{'key1': 'default_value', 'key2': 'default_value', 'key3': 'default_value'}

==========

## Chapter(8) Programming Exercises - Tuples & Sets

### 11. Write a program to unpack a tuple to several variables.

In [111]:
# Step 1: Create a tuple with multiple elements
person_info = ("Alice", 30, "New York")

# Step 2: Unpack the tuple into several variables
name, age, city = person_info

# Print the unpacked variables
print("Name:", name)
print("Age:", age)
print("City:", city)

Name: Alice
Age: 30
City: New York

### 12. Write a program to check whether an item exists within a tuple.

In [112]:
def check_item_in_tuple(item, my_tuple):
    return item in my_tuple

my_tuple = (1, 2, 3, 4, 5)
item_to_check = 3

if check_item_in_tuple(item_to_check, my_tuple):
    print(f"{item_to_check} exists in the tuple.")
else:
    print(f"{item_to_check} does not exist in the tuple.")

3 exists in the tuple.

### 13. Write a program to unzip a list of tuples into individual lists.

In [113]:
def unzip_list_of_tuples(list_of_tuples):
    unzipped_lists = list(zip(*list_of_tuples))
    return unzipped_lists


print(unzip_list_of_tuples([(1, 2), (3, 4), (5, 6)]))

[(1, 3, 5), (2, 4, 6)]

### 14. Write a program to create an intersection, union, set difference, and symmetric difference of sets.

In [114]:
def perform_set_operations(set1, set2):

    intersection = set1.intersection(set2)
    union = set1.union(set2)
    difference = set1.difference(set2)
    symmetric_difference = set1.symmetric_difference(set2)

    return intersection, union, difference, symmetric_difference

print(perform_set_operations({1, 2, 3, 4}, {3, 4, 5, 6}))

({3, 4}, {1, 2, 3, 4, 5, 6}, {1, 2}, {1, 2, 5, 6})

### 15. Write a program to demonstrate the use of issubset() and issuperset() methods.

In [115]:
def check_set_relationships(set1, set2):
    if set1.issubset(set2):
        print("set1 is a subset of set2")
    else:
        print("set1 is not a subset of set2")


    if set1.issuperset(set2):
        print("set1 is a superset of set2")
    else:
        print("set1 is not a superset of set2")


check_set_relationships({1, 2, 3}, {1, 2, 3, 4, 5})

set1 is a subset of set2
set1 is not a superset of set2

### 16. Write a program that takes a range and creates a list of tuples within that range with the first element as the number and the second element as the square of the number.

In [116]:
def create_tuple_list_within_range(start, end):
    result = []
    for num in range(start, end + 1):
        result.append((num, num ** 2))
    return result


print(create_tuple_list_within_range(1, 5))

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### 17. Write a program to clear a set.

In [117]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
set1

set()

### 18. Write a program to find the length of the set.

In [118]:
set2 = {1,2,3,4}
len(set2)

4

### 19. Write a program to store the latitude and longitude of your house as a tuple and display it.

In [119]:

set3 = {"latitude": 51.5074, "longitude": -0.1278}
print(set3)

{'latitude': 51.5074, 'longitude': -0.1278}

==========