<a href="https://colab.research.google.com/github/SARA3SAEED/more-practice/blob/main/DA_Mu_Lab13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises

## Pandas Series Basics

#### Import the 'pandas' library to load it into the computer's memory

In [1]:
import pandas as pd

#### Create the **employee_names** list

In [2]:
employee_names = ['ahmed', 'ali', 'omer']

#### Verify the **employee_names** object is a list.

In [4]:
type(employee_names)

list

#### Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

In [6]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0    ahmed
1      ali
2     omer
dtype: object

#### Confirm the object is of a Series type.

In [7]:
type(employee_names_Series)

pandas.core.series.Series

#### Now, create a Series object directly by using the following structure: **pd.Series([...])**
Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

In [8]:
work_experience_yrs = pd.Series([5,8,3,10])
work_experience_yrs

0     5
1     8
2     3
3    10
dtype: int64

#### Import the 'NumPy' module

In [9]:
import numpy as np

#### Create the **array_age** NumPy array object with these values 50, 53, 35, and 43

In [10]:
array_age = np.array([50,53,35,43])
array_age

array([50, 53, 35, 43])

#### Verify the type of the **array_age** object:

In [11]:
type(array_age)

numpy.ndarray

#### Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

In [12]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

#### Check the type of the newly created object.

In [13]:
type(series_age)

pandas.core.series.Series

#### Display the content of **series_age**.

In [14]:
series_age

0    50
1    53
2    35
3    43
dtype: int64

==========

## Working with Series Attributes

#### For the following Series object:

In [15]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

#### Return the values stored in **work_experience_years**.

In [16]:
work_experience_years.values

array([ 5,  8,  3, 10])

#### Check the type of the returned object.

In [17]:
type(work_experience_years.values)

numpy.ndarray

#### Use an attribute to find the number of elements in the underlying data for work_experience_years

In [19]:
work_experience_years.count()

4

#### Assign the following name to this Series: **Work Experience (Yrs.)**

In [21]:
work_experience_years.name = "Work Experience (Yrs.)"

#### Display the name of the Series work_experience_years

In [22]:
work_experience_years

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64

#### Display the Series itself, to see the name appear below the data values it contains.

In [24]:
print(work_experience_years)

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64

==========

## Using an Index in Pandas Series

#### Execute the following code cell to create a dictionary that includes data about the names of the employees as its *keys*, as well as their age as *values*.

In [25]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age

{'Amy White': 50,
 'Jack Stewart': 53,
 'Richard Lauderdale': 35,
 'Sara Johnson': 43}

#### Verify the type of **workers_age** is a dictionary.

In [26]:
type(workers_age)

dict

#### Create a Series from **workers_age**, giving it the same name, and priting its content

In [27]:
workers_age = pd.Series(workers_age)
workers_age

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

#### Verify **workers_age** is a Series object.

In [28]:
type(workers_age)

pandas.core.series.Series

#### Retrieve the index of *workers_age*.

In [29]:
workers_age.index

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')

===========

## Label-based vs Position-based Indexing

#### Create a pandas Series object from a dictionary with keys "Martin" and "George" and values 8 and 5, respectively. Call this Series **employees_work_exp**, as from "workers work experience".

In [30]:
employees_work_exp = {"Martin":8, "George":5}
employees_work_exp = pd.Series(employees_work_exp)
employees_work_exp

Martin    8
George    5
dtype: int64

#### Retrieve the index values to see they are *labels*.

In [31]:
employees_work_exp.index

Index(['Martin', 'George'], dtype='object')

#### Extract the first of these values to prove they are strings.

In [32]:
employees_work_exp['Martin']

8

#### Create a pandas Series object from an array that contains the following values: 44, 54, 65, 35. Call it **series_age**.

In [33]:
series_age = pd.Series([44,54,65,35])
series_age

0    44
1    54
2    65
3    35
dtype: int64

#### Retrieve the index values of **series_age** to see they are numbers, thus representing positioned data.

In [34]:
series_age.index

RangeIndex(start=0, stop=4, step=1)

==========

## Using Pandas Series Methods

#### Consider the following Series object.

In [35]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

#### Use a certain method to extract the top five values from this Series.

In [36]:
employees_work_exp.head()

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

#### Use a pandas method to retrieve the last four records of the object.

In [37]:
employees_work_exp.tail(4)

John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

==========

## Introduction to Pandas DataFrames

Create the following DataFrame in 4 different ways. (You don't need to think about assigning index values yet.)

|   	|               Name 	| Age 	| Working Experience (Yrs.) 	|
|--:	|-------------------:	|----:	|--------------------------:	|
| 0 	|          Amy White 	|  50 	|                         5 	|
| 1 	|       Jack Stewart 	|  53 	|                         8 	|
| 2 	| Richard Lauderdale 	|  35 	|                         3 	|
| 3 	|       Sara Johnson 	|  43 	|                        10 	|

#### Using a Dictionary of Lists

In [39]:
Name = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
Age = [50, 53, 35, 43]
Working_Experience = [5,8,3,10]

In [41]:
dic_list= {'Name':Name, 'Age':Age, 'Working Experience (Yrs.)':Working_Experience}
df = pd.DataFrame(dic_list)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

#### Using a List of Dictionaries

In [42]:
list_dict = [{ "Name":"Amy White", "Age":50, "Working Experience (Yrs.)":5 },
             { "Name":"Jack Stewart", "Age":53, "Working Experience (Yrs.)":8 },
             { "Name":"Richard Lauderdale", "Age":35, "Working Experience (Yrs.)":3 },
             { "Name":"Sara Johnson", "Age":43, "Working Experience (Yrs.)":10 }]
df = pd.DataFrame(list_dict)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

#### Using a Dictionary of Series Objects

In [43]:
dict_series = {'Name':pd.Series(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']),
               'Age':pd.Series([50, 53, 35, 43]),
               'Working Experience (Yrs.)':pd.Series([5,8,3,10])}
df = pd.DataFrame(dict_series)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [38]:
df = {'Name':['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 'Age':[50, 53, 35, 43], 'Working Experience (Yrs.)':[5,8,3,10]}
df = pd.DataFrame(df)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

#### Using a List of Lists

In [44]:
list_list = [['Amy White', 50, 5],
             ['Jack Stewart', 53, 8],
             ['Richard Lauderdale', 35, 3],
             ['Sara Johnson', 43, 10]]

df = pd.DataFrame(list_list, columns = ['Name', 'Age', 'Working Experience (Yrs.)'])
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

#### Modify the code below to add integers starting from 1 in ascending order as index values.

In [46]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    "Age":[50, 53, 35, 43],
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

becomes

In [48]:
df.index = range(1,len(df)+1)
df

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10

==========

# Good Luck!